<h2> All matches </h2>

<% @matches.each_pair do |date, matches| %>
    <ul>
      <%= date.to_date %>:
      <% matches.each do |match| %>
        <li><%= match.student_2.name %> matched with <%= match.student_1.name %></li>
      <% end %>
    </ul>
<% end %>

<h2> All users </h2>
<% @users = User.all %>
<% @users.each do |user| %>
  <%= user.name %> <% if user.admin? %>(admin)<% end %>
  <br/>
<% end %>
