<h2> All matches </h2>

<% @matches.each_pair do |date, matches| %>
    <ul>
      <%= date.to_date %>:
      <% matches.each do |match| %>
        <li><%= match.student_1.name %> matched with <%= match.student_2.name %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to "Create match", admin_matches_path(day: "2017-06-03T00:00:00+00:00"), method: :create  %>
